.YAxis {
  grid-area: plot;
  z-index: 1;

  &__Svg {
    width: 100%;
    height: 100%;
  }

  &__Ticks {
    width: 100%;
    height: 100%;
  }

  &__TickLabels {
    font-size: calc(8px + 0.5vh);
  }
}
